
@import url(common.css);
@import url(header.css);
@import url(sub.css);
@import url(footer.css);
@import url(modal.css);

 



/*---------- mainpage style ----------*/


.ind01_body .index_mainVisual_m {
    margin-bottom: 20px;
  }


  .ind01_body .content_bottom_index {
    margin-top: 0;
    overflow-x: scroll;
    padding-bottom: 20px;
    padding-left: 40px;
    height: 60px;
    overflow-x: scroll;
    cursor: pointer;
  }
  
  

  .index_03 .paginationCon,
.ind01_body .paginationCon {
width: 100%;
padding: 0 40px;
height: 4px;
}
.ind01_body .paginationBar,
.index_03 .paginationBar {
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.1);
z-index: 1000;
}
.ind01_body .activeBullet,
.index_03 .activeBullet {
width: 100%;
height: 100%;
background: #419fb7;
width: 20%;
}

.ind01_body #wrap .boder_bg,
.ind02_body #wrap .boder_bg,
.index_03 #wrap .boder_bg  {
position: absolute;
bottom: 56px;
width: 100%;
height: 12px;
background-color: #f4f4f4;
padding: 0;
margin: 0;
}




@media (max-width:833px) {

.ind01_body .content_bottom_index {
    padding: 0 20px;
  }
  
  .ind02_body .tabs_index,
  .ind01_body .tabs_index {
    display: flex;
  }









}