
/*---------- 메인페이지 하단 메뉴 style ----------*/

.bottom_menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255,0.9);
    z-index: 100000;
    height: 60px;
}
.bottom_menu>ul {display: flex;justify-content: space-around;align-items: center;}
.bottom_menu>ul>li {
cursor: pointer;
  display: flex;
  text-align: center;
  flex: 1;
  padding: 8px 0;
  flex-direction: column;
  z-index: 500000;
}
.bottom_menu>ul>li>img {margin: 0 auto;width: 30px;height: 30px;margin-bottom: 2px;}
.bottom_menu>ul>li>span {font-size: 14px;color: #666;margin-bottom: 2px;}
  







@media  (max-width:833px) {
    
.bottom_menu>ul>li>img {width: 24px;height: 24px;margin-bottom: 4px;}
.bottom_menu>ul>li>span {font-size: 10px;margin-bottom: 4px;}

}