

/*---------- header style ----------*/


header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px; /* 좌우 여백 */
}
header nav>div.content_top_div>h1>a>img {height: 28px;}
header nav>ul.content_top_ul {display: flex;}
header nav>ul.content_top_ul li {
    width: 24px;
    height: 24px;
    margin-left: 12px;
    cursor: pointer;
    position:relative;
}
header nav>ul.content_top_ul>li>a>img {width:100%;}
header nav>ul.content_top_ul>li:nth-child(1) {margin-left: 0;}
header nav>ul.content_top_ul>li:last-child>a>span {
    position: absolute;
    top: -5px;
    right: -11px;
    font-size: 12px;
    background-color: #51B6D2;
    border-radius: 60px;
    font-family: 'roboto';
    color: #fff;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 1.5px;
}


